.flex-row {
  display: flex;
}

.promotion-container {
  width: 70vw;
  border-right: 2px solid rgb(95, 95, 95);
  display: flex;
}

.add-promotion {
  width: 30vw;
  height: 82vh;
  display: inline-block;
  padding: 20px;
}
