.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: 0.3s;
  padding: 10px 20px;
  margin: 6px;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.item-price {
  margin-bottom: 4px;
}
